body{
    margin: 50px 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(24, 48, 80);
    color: aliceblue;
}

.title{
    text-align: center;
}

.profile-picture{
    border-radius: 50%;
}

img{
    max-width: 200px;
}

.icon{
    max-width: 50px;
    margin: 0 20px;
}

section{
    padding: 50px 100px;
}

.section-1{
    background-color: rgb(21, 16, 53);
}

.footer{
    padding-bottom: 0;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left-element{
    text-align: center;
    width: 400px;
}

.right-element{
    width: 600px;
    margin-left: 50px;
}

button{
    padding: 5px 7px;
    font-size: medium;
}

.about{
    font-size: larger;
}